{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
  <div class="jumbotron">

  </div>
</div>
<h1 class="center headline">The Home Center</h1>
<h3 class="center">Quality furniture in DFW for over 30 years</h3>
<section class="callouts bottom">
  <div class="row">
    <div class="col-xs-6">
      <img class="callout-img" src="{{ url_for('static', filename='img/bed-sketch-flip.png') }}" alt="image not found"/>
      <ul>
        <li>New-in-box sets</li>
        <li>Open-box sets at discounted prices</li>
        <li>Kitchen, bedroom, and more</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <img class="callout-img" src="{{ url_for('static', filename='img/bed-sketch.png') }}" alt="image not found"/>
      <ul>
        <li>60 day layaway available</li>
        <li>We will load your vehicle</li>
        <li>Delivery available</li>
      </ul>
    </div>
  </div>
{% endblock %}
